@charset "UTF-8";

:root  {
    --color1:  #d50909;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

header {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.947);
    position: fixed;
    top: 0;
    z-index: 70;
}


#menuButton {
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px;
    z-index: 100;
    cursor: pointer;
    border: none;
    font-size: 2em;
}


#menu {
    background-color: rgba(0, 0, 0, 0.979);
    width: 99%;
    height: 0px;
    margin-top: 50px;
    
    display: flex;
    flex-direction: column;
    position: fixed; 
    z-index: 99;

    visibility: hidden;
    overflow-y: hidden;
    transition: 0.7s;
}

#menu.active {
    visibility: visible;
    height: 800px;
}


#menu a {
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px;
    color: white;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

.introduction {
    background-color: black;
    background-position: right;
    background-size: cover;
    height: 100px;
    color: rgb(255, 255, 255);
    margin-top: 100px;
}

.introduction h1 {
    margin: 0px 60px 0px 0px;
    font-size: 2.2em;
    text-align: center;
}

.introduction h2 {
    margin: 10px 0px 0px 60px;
    color: var(--color1);
    font-size: 1.6em;
    text-align: center;
}

.aboutMe {
    background-color: black;
}

.myPicture {
    background-color: white;
    background-image: url(images/picture.png);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    transition: 1s;
}

.myPicture:hover {
    background-image: url(images/picture2.png);
    transform: scale(1.1);
    transition: 1s
}

.resume {
    padding-bottom: 50px;
}

.resume h3 {
    color: white;
    text-align: center;
    font-size: 1.1em;
}

.resume a {
    color: var(--color1);
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    cursor: text;
}

.resume p {
    color: white;
    width: 260px;
    margin: auto;
    text-align: justify;
    font-size: 1em;
}


#downloadcv {
    background-color: rgb(0, 0, 0);
   color: white;
   border: 2px solid var(--color1);
   font-weight: bold;
   font-size: 0.7em;
   border-radius: 10px;
   transition: 0.5s;
   padding: 3px 15px;
}

#downloadcv:hover {
    background-color: var(--color1);
    cursor: pointer;
}

.services {
   background-color: black;
   margin-top: 80px;
}

.services h3 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: 0px 0px 25px 0px;
}

.services a {
    color: var(--color1);
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    cursor: text;
}


.services p {
    color: white;
    width: 250px;
    margin: auto;
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1em;
}

.typeServices {
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.typeServices div {
    width: 300px;
    height: 270px;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typeServices > div > h4 {
    color: white;
    margin: 40px 0px 10px 0px;
    font-size: 1.3em;
}

.typeServices > div > p {
    color: white;
    margin: 0;
    font-size: 0.9em;
}

#webDesign {
    background-image: url(images/webdesign.png);
}

#socialMedia {
    background-image: url(images/socialmedia.png);
}

#photoEditing {
    background-image: url(images/photoediting.png);
}

#cleanCode {
    background-image: url(images/cleancode.png);
}

.portfolio {
    background-color: black;
    margin-top: 80px;
}

.portfolio h3 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0px 45px 0px;
}

.portfolio a {
    color: var(--color1);
    text-align: center;
    font-size: 0.9em;
    text-decoration: none;
    cursor: text;
}

.containerPortfolio {
    background-color: black;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}


.containerPortfolio div {
    width: 300px;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    border: 1px solid white;
}

.containerPortfolio div:hover {
    border: 2px solid var(--color1);
}


#backgroundPortfolio1  {
    background-color: rgba(0, 0, 0, 0.905);
    width: 299px;
    height: 159px;
    justify-content: center;
    align-items: center;
    display: none;
}

#backgroundPortfolio1 a {
    color: white;
    cursor: pointer;
}


#backgroundPortfolio2  {
    background-color: rgba(0, 0, 0, 0.829);
    width: 300px;
    height: 159px;
    justify-content: center;
    align-items: center;
    display: none;
}

#backgroundPortfolio2 a {
    color: white;
    cursor: pointer;
}

#backgroundPortfolio3  {
    background-color: rgba(0, 0, 0, 0.829);
    width: 300px;
    height: 159px;
    justify-content: center;
    align-items: center;
    display: none;
}

#backgroundPortfolio3 a {
    color: white;
    cursor: pointer;
}

#backgroundPortfolio4  {
    background-color: rgba(0, 0, 0, 0.829);
    width: 300px;
    height: 159px;
    justify-content: center;
    align-items: center;
    display: none;
}

#backgroundPortfolio4 a {
    color: white;
    cursor: pointer;
}


#musicStore {
    background-image: url(images/musicstore.png);
}

#club {
    background-image: url(images/club.png);
}

#bank {
    background-image: url(images/bank.png);
}

#restaurant {
    background-image: url(images/restaurant.png);
}

.myArticle {
    background-color: black;
    margin-top: 80px;
}

.myArticle h3 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0px 15px 0px;
}

.myArticle a {
    color: var(--color1);
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    cursor: text;
}

.containerArticle {
    height: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.containerArticle div {
    width: 300px;
    height: 480px;
    background-color: black;
    background-size: cover;
    background-position: top;
    border-radius: 3px;
}

.border {
    width: 300px;
    height: 270px;
    overflow: hidden;
}


#content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.592);
    cursor: pointer;
}

#content1 .articleResume{
    width: 300px;
    height: 240px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

#imgArticle1 {
    width: 300px;
    height: 300px;
    background-image: url(images/artificial.jpg);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 1s;
}

#imgArticle1:hover {
    transform: scale(1.1);
}

#content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    box-shadow: 0px 0px 15px white;
    cursor: pointer;
}

#content2 .articleResume{
    width: 300px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

#imgArticle2 {
    width: 300px;
    height: 300px;
    background-image: url(images/coffee.jpg);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 1s;
}

#imgArticle2:hover {
    transform: scale(1.1);
}


#content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    box-shadow: 0px 0px 15px white;
    cursor: pointer;
}

#content3 .articleResume {
    width: 300px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

#imgArticle3 {
    width: 300px;
    height: 300px;
    background-image: url(images/lanhouse.jpg);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 1s;
}

#imgArticle3:hover {
    transform: scale(1.1);
}

.articleResume h4 {
    font-size: 1.2em;
    margin: 10px 0px 0px 10px;
}

.articleResume p {
    padding: 15px;
    text-align: justify;
    margin: auto;
    font-size: 0.9em;
}

.articleResume a {
    padding: 3px 15px;
    border: 2px solid var(--color1);
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}

.articleResume a:hover {
    background-color: var(--color1);
    transition: 0.5s;
}


.footer {
    background-color: black;
    color: white;
    text-align: center;
}

.footer button {
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    background-color: transparent;
    color:white;
    font-size: 1.9em;
}

.footer button:hover {
    color: var(--color1);
    cursor: pointer;
}

.footer a {
    color: var(--color1);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/*
    Social Network Section
*/

.myPictureSocialmedia {
    background-color: white;
    background-image: url(images/picture3.png);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    transition: 1s;
}

.myPictureSocialmedia:hover {
    background-image: url(images/picture4.png);
    transform: scale(1.1);
    transition: 1s
}

.channels {
    margin-bottom: 80px;
}

.channels h3 {
    color: white;
    text-align: center;
    font-size: 1.1em;
    margin: 30px 0px 50px 0px;
}

#containerChannels {
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#containerChannels div {
    width: 130px;
    height: 130px;
    margin: 15px;
    background-color: #d50909;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transition: 0.6s;
}

#containerChannels div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#containerChannels a {
    width: 130px;
    height: 130px;
}


#linkedin {
    background-image: url(images/linkedin1.png);
}

#linkedin:hover {
    background-image: url(images/linkedin2.png);
}

#github {
    background-image: url(images/github1.png);
}

#github:hover {
    background-image: url(images/github2.png);
}

#instagram {
    background-image: url(images/instagram1.png);
}

#instagram:hover {
    background-image: url(images/instagram2.png);
}

#whatsapp {
    background-image: url(images/whatsapp1.png);
}

#whatsapp:hover {
    background-image: url(images/whatsapp2.png);
}